$img-urls: (
  sea: url("../assets/board_backgrounds/sea.jpg"),
  night: url("../assets/board_backgrounds/night.jpg"),
  beach: url("../assets/board_backgrounds/beach.jpg"),
  wood: url("../assets/board_backgrounds/wood.jpg"),
);

@each $img, $url in $img-urls {
  .bg-img-#{$img} {
    background-image: $url;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
  }
}