.card-display {
  font-size: $card-display-font-size;
  box-shadow: 0 1px 0 darkgray;
  cursor: pointer;

  &:hover {
    background-color: #ecf1f3;
    
    & .card-edit-button {
      opacity: 1;
    }
  }
}

.card-edit-button:focus {
  opacity:1;
}

.card-edit-button {
  opacity: 0;
}