// font sizes
$header-font-size: 1.15rem;
$footer-font-size: .7rem;
$signin-icon-font-size: 10rem;
$signin-title-font-size: 1.5rem;
$signin-label-font-size: 1rem;
$signin-button-font-size: 1.1rem;
$board-header-icon-font-size: 1rem;
$board-header-title-font-size: 1.1rem;
$board-section-title-font-size: 1rem;
$board-display-title-font-size: 1rem;
$board-display-star-font-size: .8rem;
$board-modal-title-font-size: 1.1rem;
$list-font-size: .9rem;
$card-display-font-size: .85rem;

// scroll
$scroll-width: .8rem;
$scroll-radius: .3rem;

//board
$board-display-height: 6rem;
$board-display-width: 12rem;
$board-display-container-width: 60rem;
$board-color-size: 30px;
$board-color-border-size: 1px;

// list
$list-width: 15rem;