$list-width: 18rem;

.list {
  background-color:#e1e3e6;
  width: $list-width;

  &:hover .delete-list-btn {
    opacity: 1;
  }
}

.list-footer {
  cursor: pointer;
  &:hover {
    background-color:#c0c7d1;
    color: rgb(31, 46, 46) !important;
    text-decoration: underline;
  }
}

.list-add {
  width: $list-width;
}

.delete-list-btn {
  opacity: 0;
}