@import "node_modules/bootstrap/scss/bootstrap";

// customs style go here
body, 
html,
#app{
  height: 100%;
  width: 100%;
}

#content {
  flex: 1 0 auto;
}

.task-display {
  width: 17rem !important;
}

// Bootstrap Card overwrites
.card {
  background-color:#e1e3e6;
  width: 18rem;
}

.card-footer {
  cursor: pointer;
  &:hover {
    background-color:#c0c7d1;
    .card-text {
      color: darkslategray !important;
      text-decoration: underline;
    }
  }
}