@import "node_modules/bootstrap/scss/bootstrap";
@import "board";
@import "colors";
@import "list";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body, 
html,
#app{
  height: 100%;
  width: 100%;
}

#content {
  flex: 1 0 auto;
}

.header {
  font-size: 1.6rem;
}